.encdec {
	display: flex ;
	flex-direction:column;
	gap: 1em;
	
}
.encdec textarea {
	font-family: 'Montserrat', sans-serif;
}

.textarea {
	resize:vertical;
}

.bg {
	background-color: darkgrey;
}

.decode-btn {
	margin-left: 20px;
}